{% extends "base.html" %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <h2>AutoScaler Configurations</h2>
    <div class="menu">
    <a href="/reset">
        <button type="button">Clear All Data</button>
    </a>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="config">
    <p>Please select an operation mode:</p>
    <form action="/autoscaler_config" method="post">
        <input type="radio" id="manual" name="op_mode" value="Manual">
        <label for="manual">Manual</label>
        <input type="radio" id="auto" name="op_mode" value="Automatic">
        <label for="auto">Automatic</label>
        </br>
        <div id="manual_fields" style="display:none">
            <h3>Current Pool Size</h3>
            <p style="font-size: 150%">{{config['worker']}}</p>
            <button type="button" formmethod="post" onclick="start()">+</button>
            <button type="button" formmethod="post" onclick="pause()">-</button></br></br>
        </div>
        <div id="auto_fields" style="display:none">
            <label for="miss_max">Maximum Miss Rate: </label></br>
            <input type="text" id="miss_max" placeholder={{config['miss_max']}} name="miss_max"></br>
            <label for="miss_min">Minimum Miss Rate: </label></br>
            <input type="text" id="miss_min" placeholder={{config['miss_min']}} name="miss_min"></br>
            <label for="exp_ratio">Expand Ratio: </label></br>
            <input type="text" id="exp_ratio" placeholder={{config['exp_ratio']}} name="exp_ratio"></br>
            <label for="shr_ratio">Shrink Ratio: </label></br>
            <input type="text" id="shr_ratio" placeholder={{config['shr_ratio']}} name="shr_ratio"></br>
        </div>
        </br>
        </br>
        <div>
            <button id ="button" type="submit">Submit</button>
        </div>
    </form>
    </div>
    </br>
    <script type="text/javascript">
        $("input[name='op_mode']:radio").change(
            function() {
                $("#manual_fields").toggle($(this).val() == "Manual");
                $("#auto_fields").toggle($(this).val() == "Automatic");
            }
        );
        function start () {
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/start_worker');
            form.style.display = 'hidden';
            document.body.appendChild(form)
            form.submit();
        }
        function pause () {
            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', '/pause_worker');
            form.style.display = 'hidden';
            document.body.appendChild(form)
            form.submit();
        }
    </script>
{% endblock %}
